<style>
    .stileFont {
        font-size: 14px !important;
    }

    /* layout.css Style */
    .upload-drop-zone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
    }

    /* skin.css Style*/
    .upload-drop-zone {
        color: #ccc;
        border-style: dashed;
        border-color: #ccc;
        line-height: 200px;
        text-align: center
    }

    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }

    .btnUpload {
        padding: 5px;
    }
</style>


<div class="panel panel-default stileFont">
    <div class="panel-heading">
        <h3>Caricamento Foto</h3>
    </div>
    <div class="panel-body">
        <h2>Caricamento Album</h2>
        <br />
        <div ng-if="$parent.msgUpdResult != '' && $parent.isUpdFile"
            class="alert alert-success alert-dismissable fade in">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong> {{$parent.msgUpdResult}} </strong>
        </div>
        <div ng-if="$parent.msgUpdResult != '' && !$parent.isUpdFile"
            class="alert alert-danger alert-dismissable fade in">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong> {{$parent.msgUpdResult}} </strong>
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <span><strong>Nome Album</strong></span>
                <input type="text" class="form-control" ng-model="$parent.nomeCartella" id="nomeCartella" required
                    placeholder="Nome Album">
            </div>
            <br /><br />
            <div class="form-group">
                <input type="file" id="inputUpd" file-input="$parent.files" class="form-control" required multiple
                    directory="" webkitdirectory="" mozdirectory="">
            </div>
            <br /><br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xs btnUpload" ng-click="$parent.uploadFile()"
                    id="uploadFolder">Carica Album</button>
            </div>
        </div>
    </div>
</div>