<div class="container">
<div ng-repeat="album in listaAlbum track by $index" class="col-xs-12 col-sm-3 col-sm-3">
    <a ng-click="switchTemplate(album)">
        <div class="cardList">
            <div class="card">
                <div class="card__bg" style="background-image: url('{{album[1]}}')"></div>
            </div>
            <div class="card">
                <div class="card__bg" style="background-image: url('{{album[2]}}')"></div>
            </div>
            <div class="card">
                <div class="card__bg" style="background-image: url('{{album[3]}}')"></div>
            </div>
            <span class="cardList__title">{{album[0]}}</span>
        </div>
    </a>
</div>
</div>