<header class="intro-header" style="background-image: url('immagine/team.png')">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<div class="container overlay">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="page-heading">
					<h1>Membri</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main Content -->

<div class="container membri" ng-init="getMembri()">
	<div class="row">
		<div ng-repeat="membro in listaMembri track by $index" class="col-sm-6 col-md-6 col-lg-4"
			ng-if="membro.RUOLO != ''">
			<div class="business-card">
				<div class="media">
					<div class="media-left">
						<img class="media-object img-circle profile-img" ng-src="{{membro.FOTO}}" />
					</div>
					<div class="media-body">
						<h2 class="media-heading text-capitalize">{{membro.NOME}} {{membro.COGNOME}}</h2>
						<div class="job text-capitalize">{{membro.RUOLO}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>